.sidebar{
    background-color: blue;
}

body{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 20px;
}

.sidebar{
 grid-row: 1/4;
}

.sidebar{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;

}

.header{
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.content{
    display:grid;
    grid-template-columns: 2.5fr 1fr;
}

.projects{
    grid-row: 1/3;
}

.an